.box {
  border: 1px red dotted;
}

.loggedIn {
  background-image: url('./papers/home.jpg');
  background-repeat: true;
  display: grid;
  height: 100vh;
  grid-template: repeat(10, 10%)/ repeat(10, 10%);
}

.App {
  background-image: url('./img.jpg');
  background-repeat: true;
  display: grid;
  height: 100vh;
  grid-template: repeat(10, 10%)/ repeat(10, 10%);
}

.login {
  background-color: rgb(179, 174, 154);
  font-family: "Courier new";
  border-style: groove;
  border-radius: 10px;
  padding: 2px;
  grid-column: 3/9;
  grid-row: 4/6;
  font-weight: bolder;
  text-align: center;
  color: cornsilk;
}

button {
  border-radius: 5px;
  background-color: rgb(69, 55, 43);
  color: cornsilk;
  font-weight: bold;
}

img {
  opacity: .9;
}

input, textarea {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(113, 70, 24)
}

input:focus, textarea:focus  {
  background-color: cornsilk;
}

.minilogo {
  opacity: .9;
  grid-row: 1;
  grid-column: 1;
  max-width: 100%;
}

.homepage {
  grid-row: 2/10;
  grid-column: 2/10;
  /* grid-template: repeat(5, 20%)/ repeat(5, 20%); */
}

.avatar {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 7;
  max-width: 100%;
  max-height: 100%
}

.gameBox {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}

.characterForm {
  grid-row: 2/10;
  grid-column: 2/10;
  margin: 7px;
  padding: 7px;
  background-color: rgb(140, 131, 95);
  border-radius: 5px;
  font-family: "Courier new";
  border-style: groove;
  font-weight: bold;
  margin: 5px;
}

#nameField {
  width: 40%;
  margin: 10px;
  padding: 8px;
  border: 2px solid rgb(113, 70, 24);
  border-radius: 5px;
  text-align: center
}
.formBox {
  width: 7%;
  margin: 10px;
  padding: 8px;
  border: 2px solid rgb(113, 70, 24);
  border-radius: 5px;
  text-align: center
}
.statBox {
  width: 5%;
  border: 1px solid rgb(113, 70, 24);
  border-radius: 4px;
}

.lbl {
  font-weight: normal
}

#inspiration {
  height: 15px;
  width: 25px;
}

#description {
  margin: 10px;
  padding: 8px;
  border: 2px solid rgb(113, 70, 24);
  border-radius: 5px;
  height: 15%;
  width: 50%;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 5px;
}

.url {
  height: 3%;
  width: 20%;
  border: 2px solid rgb(113, 70, 24);
  border-radius: 5px;
}
